<!-- <nav class="navbar navbar-default">
  
      <mat-menu class="container-fluid">
          <div class="navbar-header">
          <a class="navbar-brand">SSK Filetransfer</a>
        </div>
        </mat-menu>

  

  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">SSK Filetransfer</a>
    </div>
  </div>
</nav> -->
<mat-toolbar color="primary">
  <span>SSK Filetransfer</span>
  <span class="fill"></span>
  <button mat-raised-button color="primary" (click)="router.navigate(['/']);">Login</button>
</mat-toolbar>

<br />
<div class="container-fluid">
      <router-outlet></router-outlet>
</div>

