.table-container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.projects-table {
  width: 100%;
}

.wideCol {
  width: 45%;
}

.mediumCol {
  width: 25%;
}

.smallCol {
  width: 5%;
}

tr.detail-row {
  height: 0;
}

tr.project-row:not(.expanded-row):hover {
  background: #777;
}

tr.project-row:not(.expanded-row):active {
  background: #efefef;
}

.project-row td {
  border-bottom-width: 0;
}

.project-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.project-description {
  min-height: 20px;
  padding: 15px;
  width: 100%;
}

.project-content {
  padding-left: 15px;
  padding-right: 15px;
}

.project-description-attribution {
  opacity: 0.5;
}
